.TaskList{
  margin: 20px 5px 5px 5px;

  overflow: auto;
}
.Hidden{
  //visibility: hidden;


}
.TaskForm{

}
.Change{
  margin: 20px 5px 5px 5px;
  display: flex;
  justify-content: space-around;
}

.Task{
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin: 10px 0 10px 0 ;
  cursor: pointer;

}

.Text{
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Обрезаем все, что не помещается в область */
  padding: 5px; /* Поля вокруг текста */
  text-overflow: ellipsis;
  border: #17a2b8 solid 1px;
  border-radius: 5px;
  transition: .2s;
  width: 100%;
}
.Text:hover{
  background: #17a2b8;
}
::-webkit-scrollbar-button {
  background-repeat:no-repeat;
  width:6px;
  height:0px
}

::-webkit-scrollbar-track {
  background-color: #e9ecef;
  box-shadow:0px 0px 3px #e9ecef inset;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #0b76ef;
  background-position:center;
  background-repeat:no-repeat;
}

::-webkit-resizer{
  background-repeat:no-repeat;
  width:7px;
  height:0px
}

::-webkit-scrollbar{
  width: 11px;
}