@font-face {
  font-family: 'Quicksand-Regular';
  src: url('../../../styles/fonts/Quic/Quicksand-Regular.ttf');
}


@media (min-width: 900px) {
  .HOME{
    font-family: 'Quicksand-Regular', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
  }
  .Menu {
    width: 25%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    padding: 5px;

    .Other {
      margin: 20px 5px 5px 5px;
      border-radius:5px;

    }
    .Tasks {
      margin: 20px 5px 5px 5px;
      overflow: auto;
    }
  }
  .MainScreen{
    width: 75%;
    height: 100%;
  }

}
