.Group{
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.List{
    height: 100%;
}
.list{
    height: 100%;
    overflow-y:scroll ;
}
.group{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30px;
    transition: 0.5s;
    border-radius: 10px;
}

.group:hover{
    background-color: #763626;
}