.Menu{
    color: #F9F6EF;
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #2A3132;
    border-radius: 0px 20px 20px 0px;
}

.addGroup{

}

.groupName{
    display: flex;
    justify-content: space-around;
}

.groupName input{
    background-color: transparent !important;
    color: beige;
}